/*noinspection CssUnknownTarget*/
@import "tailwindcss/components";

/*noinspection CssUnknownTarget*/
@import "tailwindcss/utilities";

#hentag-bookmarker *,
#hentag-bookmarker *::before,
#hentag-bookmarker *::after {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /*color: rgba(229, 231, 235, 1);*/
    text-decoration: none;
    text-decoration-color: rgba(96, 165, 250, 1);
    font-size: 16px;
    line-height: 22px;
    border: none;
    text-align: center;
    background-image: none;
    box-shadow: none;
    /*appearance: none;*/
}

#hentag-bookmarker a {
    color: rgba(96, 165, 250, 1);
}

#hentag-bookmarker a:hover {
    color: rgba(147, 197, 253, 1);
}

.hentag-spinner {
    /*margin: 100px auto 0;*/
    /*width: 70px;*/
    text-align: center;
}

.hentag-spinner > div {
    width: 33%;
    height: 33%;
    background-color: rgba(243, 244, 246, 1);

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: hentag-sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: hentag-sk-bouncedelay 1.4s infinite ease-in-out both;
}

.hentag-spinner .hentag-bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.hentag-spinner .hentag-bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

#hentag-bookmark-icon {
    width: 18px;
    height: 18px;
    z-index: 9999;
}

#hentag-bookmark-icon > img {
    width: 16px;
    height: 16px;
}

#hentag-bookmark-icon:hover > img {
    width: 32px;
    height: 32px;
}

@-webkit-keyframes hentag-sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes hentag-sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}